.FirstDiv{
    background-color: rgba(0, 0, 0, 0.767);
    height: 400px;
    width: 100%;
    color: white;
    padding: 100px;
  text-align: center;

    
}
.FirstDiv p:first-child{
    color: rgba(0, 250, 250, 0.877);
    font-weight: bold;
    font-size: 50px;
}
.FirstDiv  p:nth-child(2){
    font-size: 30px;
    font-weight: lighter;  
    padding: 10px;
   
}
.FirstDiv  a{
  list-style: none;
  text-decoration: none;
  color: rgba(0, 250, 250, 0.877);
  font-size: 20px;
   
}
.FirstDiv button{
    background-color:  rgba(0, 250, 250, 0.877);
    border: none;
    
    width: 10%;
    height: 40px;
}
.FirstDiv button:hover{
    background-color: white;
    cursor: pointer;
}
.FirstDiv a:hover{
    color: white;
    cursor: pointer;

}
    


