*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.headerOne {
    background-color: black;
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
     align-items: center; 
    
}
.headerOne span:nth-child(2){
    color: rgba(0, 250, 250, 0.877);

}