*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     
}
.container{
    display: flex;
   justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.863);
    width: 100%;
    height: 70px;
    
}
.firstContainer{
    width: 20%;
    height: 100%;
    justify-content: space-around;
    display: flex;
    /* background-color: pink;  */

}
.firstContainer span{
    display: flex;
    text-align: center;
    padding-left: 4px;
    width: 10%;
    height: 100%;
    padding-top: 25PX;
    color: rgba(0, 250, 250, 0.877);
    font-weight: bold;
    font-size: 30px;
   
  
  
}


.secondContainer{
    width: 80%;
    height: 100%;
    justify-content:space-around ;
    display: flex;
    /* backgroor: aqua;und-col */
    padding: 10px;  
    align-items: center; 
  
}
.secondContainer li{
    justify-content:space-around ;
    display: flex;
    /* background-color: aqua; */

    padding: 10px;   
  
}
.thirdContainer{
    width: 80%;
    height: 100%;
    justify-content:space-around ;
    display: flex;
    /* background-color:  green; */
    align-items: center;
    color: white;

   
}
.thirdContainer li{
    display: flex;
    justify-content: space-around;
    padding: 12px;
    align-items: center;
    justify-content: center;
    color: white;
    
   
}


.container li{
    width: 100%;
    height: 100%;
    list-style: none;
    display: inline;
    color: white;
}
.container li a{
    width: 100%;
    height: 100%;
   text-decoration: none;
   color: white;
}