.first{
    border: 1px solid ;
    padding: 40px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
}
.primary{
    padding: 40px;
    width: 30%;
    height: 100%;
    border: red;
    /* background-color: red; */
}
.second{
    padding: 40px;
    width: 30%;
    height: 100%;
    /* background-color: yellow; */
}
.third{
    width: 30%;
    height: 100%;
    /* background-color: green; */
padding: 40px;
}
.third p{
    padding: 10px;
   
}
.first p{
    padding: 10px;
   
}
.second p{
    padding: 10px;
   
}
.first span{
    padding: 900px;
   
}
